/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap");

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Utility */
.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* Vignette */
#vignette {
  position: absolute;
  top: 0;
}

#vignette-top {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

#vignette-left {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

#vignette-bottom {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

#vignette-right {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

/* Navbar */
#navbar-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 2;
  top: 0;
}

nav {
  height: 56px;
  background: rgba(28, 28, 28, 0.7);
  border-radius: 0 0 0 15px;
  border: solid 1px rgba(255, 247, 228, 0.8);
  border-top: none;
  border-right: none;
  padding: 10px 10px;
  filter: blur(0.6px);
}

nav a {
  color: rgb(255, 247, 228);
  font-size: 32px;
  font-family: "Gentium Plus", serif;
  text-decoration: none;
  margin: 0 15px;
}

/* Date/Time */
#datetime {
  height: 56px;
  position: fixed;
  color: rgb(255, 247, 228);
  background: rgba(28, 28, 28, 0.7);
  border: solid 1px rgba(255, 247, 228, 0.8);
  border-top: none;
  border-left: none;
  font-family: "Gentium Plus", serif;
  font-size: 22px;
  font-weight: 400;
  top: 0px;
  border-radius: 0 0 15px 0;
  filter: blur(0.5px);
  padding: 1px 0 10px 10px;
  z-index: 2;
}

#datetime-date {
  width: 219px;
  margin-right: 10px;
}

#datetime-time {
  margin-right: 10px;
}

/* Home page */
#home-bg {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url(/img/walkercrabandwinkleway.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#home-logogroup {
  position: absolute;
  width: 500px;
  top: 0;
  left: 20px;
  filter: blur(0.6px);
}

#home-logogroup-initials {
  width: 30px;
}

.home-logogroup-words,
.home-logogroup-initials {
  color: rgb(255, 247, 228);
  font-family: "Gentium Plus", serif;
  font-size: 3rem;
  line-height: 80px;
  margin: auto;
}

#home-logogroup-words {
  position: absolute;
  top: 0;
  left: 45px;
}

#home-logogroup-borders {
  position: relative;
  left: 50px;
  top: 10px;
}

.home-logogroup-borders {
  position: absolute;
  background: rgb(255, 247, 228);
}

#home-logogroup-borders-border1 {
  height: 220px;
  width: 5px;
  top: 0px;
  left: -15px;
}

#home-logogroup-borders-border2 {
  height: 225px;
  width: 5px;
  top: 0px;
  left: -62px;
}

#home-logogroup-borders-border3 {
  width: 50px;
  height: 5px;
  top: 0;
  left: -60px;
}

#home-logogroup-borders-border4 {
  width: 50px;
  height: 5px;
  top: 220px;
  left: -60px;
}

#home-buttongroup-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#home-buttongroup {
  display: flex;
  height: 250px;
  width: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(28, 28, 28, 0.5);
  border: solid 1px rgba(255, 247, 228, 0.8);
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
}

#home-buttongroup-container #home-buttongroup p {
  width: 500px;
  color: rgb(255, 247, 228);
  font-size: 1.5rem;
  font-family: "Gentium Plus", serif;
  filter: blur(0.5px);
  margin-bottom: 20px;
}

#home-buttongroup-enter {
  display: flex;
  height: 70px;
  width: 180px;
  background-color: rgba(255, 254, 243, 0.2);
  color: rgb(255, 247, 228);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Gentium Plus", serif;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border: solid 2px rgb(255, 247, 228);
  border-radius: 15px;
  filter: blur(0.5px);
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8);
}

#home-buttongroup-enter:hover,
#new-form-container a:hover,
#index-titlebar-container a:hover,
#new-form button:hover,
.index-li-info a:hover,
#show-container a:hover,
#show-card-buttons a:hover,
#show-card-buttons button:hover {
  transform: scale(1);
  transition: transform 0.1s ease-in-out;
  box-shadow: 0 0 20px 10px rgba(255, 247, 228, 0.2);
  text-shadow: 0 0 5px rgba(255, 247, 228, 0.6),
    0 0 20px rgba(255, 247, 228, 0.3), 0 0 30px rgba(255, 247, 228, 0.3),
    0 0 40px rgba(255, 247, 228, 0.3), 0 0 50px rgba(255, 247, 228, 0.3),
    0 0 60px rgba(255, 247, 228, 0.3), 0 0 70px rgba(255, 247, 228, 0.3);
}

#home-buttongroup-enter:active,
#new-form-container a:active,
#index-titlebar-container a:active,
#new-form button:active,
.index-li-info a:active,
#show-container a:active,
#show-card-buttons a:active,
#show-card-buttons button:active {
  transform: scale(0.8);
  transition: transform 0.1s ease-in-out;
}

/* Index page */
#index-bg {
  background-image: url(/img/Loch-Ard-Forest-Stirlingshire.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
}

#index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 96px);
  margin-bottom: 40px;
}

#index-titlebar-container {
  display: flex;
  width: 680px;
  font-family: "Gentium Plus", serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
  margin: 80px 0 25px 0;
  z-index: 1;
}

#index-titlebar-container h1,
#new-form-container h1 {
  color: rgb(255, 247, 228);
  text-shadow: 3px 2px 2px #000;
  text-decoration: underline;
  margin: 0;
  z-index: 1;
}

#index-titlebar-container a,
#index-titlebar-container a:visited,
#new-form button,
#new-form button:visited,
#show-card-buttons a,
#show-card-buttons a:visited,
#show-card-buttons button,
#show-card-buttons button:visited {
  display: flex;
  height: 45px;
  width: 115px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(30, 30, 30);
  background: rgb(255, 247, 228);
  box-shadow: 8px 11px 8px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-radius: 14px;
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
  border: solid 1px;
}

#index-ulist {
  display: flex;
  flex-direction: column;
  list-style: none;
  z-index: 1;
  padding: 1px 0;
  filter: blur(0.6px);
}

.index-li:nth-child(1) {
  border-radius: 10px 10px 0 0;
}

.index-li:nth-child(1) img {
  border-radius: 10px 0 0 0;
}

.index-li:last-child {
  border-radius: 0 0 10px 10px;
}

.index-li:last-child img {
  border-radius: 0 0 0 10px;
}

.index-li {
  display: flex;
  height: 158px;
  width: 690px;
  background: rgba(255, 247, 228, 0.95);
  font-family: "Gentium Plus", serif;
  border: solid 1px rgb(30, 30, 30);
  margin: -1px auto;
}

.index-li a img {
  display: inline-block;
  height: 156px;
  width: 200px;
  object-fit: cover;
  border-right: solid 1px rgb(118, 118, 118);
}

.index-li-info {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  overflow: auto;
  padding: 0 10px;
}

.index-li-info h1,
.index-li-info h2 {
  color: rgb(30, 30, 30);
  font-size: 22px;
}

.index-li-info h1 {
  text-decoration: underline;
  margin: 10px 0 0 0;
}

.index-li-info h2 {
  font-size: 16px;
  font-style: italic;
  margin: 5px 0 0 0;
  font-weight: 400;
}

.index-li-info-buttons {
  font-size: 16px;
  color: rgb(30, 30, 30);
  background: rgb(255, 247, 228);
  box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-radius: 10px;
  transform: scale(0.97);
  transition: transform 0.1s ease-in-out;
  padding: 6px 9px;
  border: solid 1px rgb(33, 33, 33);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

/* New page */
#new-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 146px);
  font-family: "Gentium Plus", serif;
  margin: 50px 0 40px 0;
}

#new-form-container h1 {
  margin: 30px 0 40px 0;
  font-size: 44px;
}

#new-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 480px;
  height: 560px;
  background-color: rgba(255, 247, 228, 0.95);
  box-shadow: 10px 13px 8px rgba(0, 0, 0, 0.8);
  border: solid 1px rgb(33, 33, 33);
  border-radius: 15px;
  margin-bottom: 40px;
  filter: blur(0.5px);
  font-size: 20px;
  padding-top: 20px;
}

#new-form div {
  width: 80%;
  margin-bottom: 10px;
}

#new-form input,
#new-form textarea {
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;
  border: solid 1px rgb(93, 93, 93);
  padding: 5px 10px;
  outline: none;
}

#new-form-radios label {
  display: inline-block;
  margin-right: 3px;
}

#new-form-radios input {
  width: auto;
}

#new-form textarea {
  resize: none;
}

#new-form-container a,
#show-container a {
  position: relative;
  width: 180px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 254, 243, 0.2);
  color: rgb(255, 247, 228);
  font-size: 36px;
  font-weight: 600;
  text-decoration: none;
  border: solid 2px rgb(255, 247, 228);
  border-radius: 20px;
  filter: blur(0.5px);
  box-shadow: 8px 11px 8px rgba(0, 0, 0, 0.8);
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}

#new-form button {
  width: 140px;
  height: 50px;
  font-size: 26px;
  font-weight: 600;
  margin: 8px 0 20px 0;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.8);
}

/* Show page */
#show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gentium Plus", serif;
  min-height: calc(100vh - 56px);
}

#show-card {
  width: 550px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 247, 228, 0.95);
  box-shadow: 10px 13px 8px rgba(0, 0, 0, 0.8);
  border: solid 1px rgb(33, 33, 33);
  border-radius: 15px;
  filter: blur(0.6px);
  z-index: 1;
  margin: 50px 0 24px 0;
  word-wrap: break-word;
}

#show-card img {
  height: 350px;
  border-bottom: solid 1px rgb(33, 33, 33);
  border-radius: 10px 10px 0 0;
}

#show-card-info {
  min-height: 248px;
  padding: 0 10px;
}

#show-card-info h1 {
  text-decoration: underline;
  margin: 5px 0 5px 0;
  font-size: 26px;
}

#show-card-info p {
  font-size: 18px;
}

#show-card-info h2 {
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 15px;
}

#show-card-buttons {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  border-top: solid 1px rgb(33, 33, 33);
}

#show-card-buttons a,
#show-card-buttons button {
  width: 150px;
  height: 50px;
  color: rgb(30, 30, 30);
  font-size: 24px;
  font-weight: 600;
  box-shadow: 10px 13px 8px rgba(0, 0, 0, 0.8);
  border: solid 1px rgb(33, 33, 33);
  border-radius: 15px;
}

/* Footer section */
#footer-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background: rgba(28, 28, 28, 0.7);
  border-top: solid 1px rgba(255, 247, 228, 0.9);
}

footer {
  width: 206px;
  transform: translateY(-2px);
}

footer > span {
  font-family: "Gentium Plus", serif;
  font-size: 1.3rem;
  color: rgb(255, 247, 228);
  display: inline-block;
}

svg {
  fill: rgb(255, 247, 228);
  height: 22px;
  width: 22px;
  position: relative;
  top: 5px;
  left: 5px;
}

@media screen and (max-width: 768px) {
  #datetime {
    display: none;
  }

  #home-logogroup {
    display: none;
  }

  .index-li {
    width: 75vw;
  }

  #index-titlebar-container {
    width: calc(100vw - 200px);
  }
}

/* Animations */
/* Git icon */
svg {
  transition: transform 0.3s ease-in-out;
}
svg:hover {
  transform: rotate(360deg) scale(1.2);
}
