<% layout("layouts/boilerplate")%>
<div id="edit-body">
  <%- include("../partials/navbar")%>
  <form action="/parks/<%= park._id %>?_method=PUT" method="POST">
    <div>
      <label for="title">Title</label>
      <input
        type="text"
        id="title"
        name="park[title]"
        value="<%= park.title %>"
      />
    </div>
    <div>
      <label for="location">Location</label>
      <input
        type="text"
        id="location"
        name="park[location]"
        value="<%= park.location %>"
      />
    </div>
    <button>Save Park</button>
  </form>
  <a href="/parks">All Parks</a>
</div>
