<% layout("layouts/boilerplate")%>
<div id="index-body">
  <%- include("../partials/navbar")%>
  <div id="home-vignettes">
    <div id="home-vignettes-left"></div>
    <div id="home-vignettes-right"></div>
    <div id="home-vignettes-top"></div>
    <div id="home-vignettes-bottom"></div>
  </div>
  <h1>All Parks</h1>
  <a href="/parks/new">Add Park</a>
  <ul>
    <% for (let park of parks) { %>
    <li>
      <a href="/parks/<%= park._id %> "><%= park.title %></a>
    </li>
    <% } %>
  </ul>
  <%- include("../partials/footer")%>
</div>
